BusinessService_WebServiceX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetAtoms">
        <s:complexType />
      </s:element>
      <s:element name="GetAtomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAtomsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAtomicWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElementName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAtomicWeightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAtomicWeightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAtomicNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElementName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAtomicNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAtomicNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementSymbol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElementName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementSymbolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetElementSymbolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAtomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAtoms" />
  </wsdl:message>
  <wsdl:message name="GetAtomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAtomsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightSoapIn">
    <wsdl:part name="parameters" element="tns:GetAtomicWeight" />
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightSoapOut">
    <wsdl:part name="parameters" element="tns:GetAtomicWeightResponse" />
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAtomicNumber" />
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAtomicNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetElementSymbolSoapIn">
    <wsdl:part name="parameters" element="tns:GetElementSymbol" />
  </wsdl:message>
  <wsdl:message name="GetElementSymbolSoapOut">
    <wsdl:part name="parameters" element="tns:GetElementSymbolResponse" />
  </wsdl:message>
  <wsdl:message name="GetAtomsHttpGetIn" />
  <wsdl:message name="GetAtomsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightHttpGetIn">
    <wsdl:part name="ElementName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberHttpGetIn">
    <wsdl:part name="ElementName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetElementSymbolHttpGetIn">
    <wsdl:part name="ElementName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetElementSymbolHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomsHttpPostIn" />
  <wsdl:message name="GetAtomsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightHttpPostIn">
    <wsdl:part name="ElementName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberHttpPostIn">
    <wsdl:part name="ElementName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetElementSymbolHttpPostIn">
    <wsdl:part name="ElementName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetElementSymbolHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="periodictableSoap">
    <wsdl:operation name="GetAtomicWeight">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get atomic wieght by element name </wsdl:documentation>
      <wsdl:input message="tns:GetAtomicWeightSoapIn" />
      <wsdl:output message="tns:GetAtomicWeightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAtomicNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get atomic Number by element name </wsdl:documentation>
      <wsdl:input message="tns:GetAtomicNumberSoapIn" />
      <wsdl:output message="tns:GetAtomicNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetElementSymbol">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get atomic symbol by element name </wsdl:documentation>
      <wsdl:input message="tns:GetElementSymbolSoapIn" />
      <wsdl:output message="tns:GetElementSymbolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="periodictableSoap" type="tns:periodictableSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAtomicWeight">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAtomicWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtomicNumber">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAtomicNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementSymbol">
      <soap:operation soapAction="http://www.webserviceX.NET/GetElementSymbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="periodictable">
    <wsdl:port name="periodictableSoap" binding="tns:periodictableSoap">
      <soap:address location="http://www.webservicex.net/periodictable.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>