XMLPostOperations/WSDL/LocalInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema>
      <s:import schemaLocation="../Schema/MessageStructures.xsd" namespace="http://www.webserviceX.NET"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAtomicWeightSoapIn">
    <wsdl:part name="parameters" element="tns:GetAtomicWeight"/>
  </wsdl:message>
  <wsdl:message name="GetAtomicWeightSoapOut">
    <wsdl:part name="parameters" element="tns:GetAtomicWeightResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAtomicNumber"/>
  </wsdl:message>
  <wsdl:message name="GetAtomicNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAtomicNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="GetElementSymbolSoapIn">
    <wsdl:part name="parameters" element="tns:GetElementSymbol"/>
  </wsdl:message>
  <wsdl:message name="GetElementSymbolSoapOut">
    <wsdl:part name="parameters" element="tns:GetElementSymbolResponse"/>
  </wsdl:message>
  <wsdl:portType name="periodictableSoap">
    <wsdl:operation name="GetAtomicWeight">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get atomic wieght by element name </wsdl:documentation>
      <wsdl:input message="tns:GetAtomicWeightSoapIn"/>
      <wsdl:output message="tns:GetAtomicWeightSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAtomicNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get atomic Number by element name </wsdl:documentation>
      <wsdl:input message="tns:GetAtomicNumberSoapIn"/>
      <wsdl:output message="tns:GetAtomicNumberSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetElementSymbol">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get atomic symbol by element name </wsdl:documentation>
      <wsdl:input message="tns:GetElementSymbolSoapIn"/>
      <wsdl:output message="tns:GetElementSymbolSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="periodictableSoap" type="tns:periodictableSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAtomicWeight">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAtomicWeight" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtomicNumber">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAtomicNumber" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementSymbol">
      <soap:operation soapAction="http://www.webserviceX.NET/GetElementSymbol" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>